---
layout: layouts/base.njk
templateClass: tmpl-author
---
<h1>{{ user.name }}</h1>
<p>Role: {{ user.role.name }}</p>

{{user.bio | markdownify | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
