<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title Here</title>
    <meta name="Description" content="Description Here">
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header>
      <h1>Blog Overview</h1>
    </header>

    <main>
        <ul>
        <li><a href="/corp/">CORP</a></li>
        <li><a href="/salt/">SALT</a></li>
        <li><a href="blog-mwlc.netlify.com">Manatee Weight Loss Center</a></li>
        </ul>
    </main>

    <footer></footer>

  </body>
</html>