---
layout: layouts/salt-post-amp.njk
tags:
  - saltamp
pagination:
  alias: amp
  data: salt
  size: 1
  addAllPagesToCollections: true
permalink: /salt/{{ amp.slug.current | slug }}/index.amp.html
---